<div class="wave-slider">
  <div class="wave">
    <div class="wave-content"></div>
    <div class="wave-user-info">
      <img class="wave-user-profile-pic" src="" />
      <span class="wave-user-name"></>
    </div>
  </div>
</div>
