<span class="profile-title"><%= @user.name %></span>

<% if current_user.tracking? @user %>
  <%= link_to I18n.t("user.tracker.untrack"), track_frequency_path(@user), id: "track_frequency", method: :post, remote: true %>
<% else %>
  <%= link_to I18n.t("user.tracker.track"), track_frequency_path(@user), id: "track_frequency", method: :post, remote: true %>
<% end %>

<hr class="hr-clear">

<ul class="list-group">
  <li class="list-group-item">member since <%= @user.created_at.strftime("%d %B %Y") %></li>
</ul>

<h2><%= "#{@user.name}'s latest posts" %></h2>

<%= render @user.posts %>
