<h1>user info</h1>

<% if @users %>
  <h3>search results for <%= @search_term %></h3>
  <table class="table">
    <thead>
      <th>email</th>
      <th>user since</th>
    </thead>
    <tbody>
    <% if current_user_in @users %>
      <tr class="search_self">
        <td><%= link_to current_user.email, users_path(current_user) %></td>
        <td><%= current_user.created_at %></td>
      </tr>
    <% end %>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.email, users_path(user) %></td>
        <td><%= user.created_at %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <h3>no user found =[</h3>
<% end %>

