<div class="row">
  <div class="col-md-push-2 col-md-6">
    <%= simple_form_for(@post, remote: true) do |f| %>
      <%= f.input :body, as: :string, label: false %>
      <%= f.submit "Microwave it!" %>
    <% end %>
  </div>
</div>
