<div class="row">
  <div class="col-md-push-2 col-md-6">
    <div class="post-item wow fadeInRight">
      <p class="post-user"><%= post.user.name %></p>
      <p class="post-body"><%= truncate(strip_tags(post.body), length: 400) %></p>
      <p class="post-time"><%= time_ago_in_words(post.created_at) %> ago</p>
    </div>
  </div>
</div>
