<%= render 'form' %>

<div class="row">
  <div class="col-md-push-2 col-md-6">
    <div id="new_posts" class="fadeIn">
      <a href="/" id="load_new_posts"></a>
    </div>
  </div>
</div>

<div id="waves">
  <%= render @posts %>
</div>

<div id="scrollin">
  <%= paginate @posts %>
</div>
