* {
  font-family: "Josefin Sans";
}

.navbar {
  background: rgb(34, 216, 138);
  border-bottom: 5px solid rgba(0, 0, 0, 0.2);
  .navbar-brand {
    color: white;
    font-weight: bold;
    font-size: 27px;
  }
}

.navbar-default {
  .navbar-nav {
    li > a {
      font-weight: bold;
      color: white;
      font-size: 20px;
    }
  }
}

#search_glass {
  padding: 15px 15px;
  cursor: pointer;
  font-size: 22px;
  line-height: 20px;
}

.search-invisible {
  transition: all .2s;
  width: 0;
  visibility: hidden;
}

.search-visible {
  transition: all .2s;
  width: 150px;
  visibility: visible;
}

.search-button-invisible {
  transition: all .2s;
  width: 0;
  visibility: hidden;
}

.search-button-visible {
  transition: all .2s;
  width: 60px;
  visibility: visible;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .open > a:focus {
  background: #1bad6e;
  color: white;
}

.dropdown-menu {
  background-color: #1bad6e;
}


.notification {
  position: relative;
  .notification-dot {
    position: absolute;
    top: 1px;
    right: 1px;
    padding: 7px 7px;
    background-color: #f00;
    color: white;
    font-weight: bold;
    font-size: 0.7em;
    border-radius: 50%;
    box-shadow: 2px 2px black;
    line-height: 1em;
  }

  .no-notifications {
    visibility: hidden;
  }
}

.post-item {
  background: #22d88a;
  box-shadow: 3px 3px 2px #1b692f;
  padding: 10px;
  margin: 10px;
  p {
    font-size: 18px;
  }
}

#new_post {
  margin-bottom: 50px;

  .post_body {

  }

  input[type="text"] {
    width: 100%;
    height: 40px;
    padding-left: 5px;
    margin-bottom: 5px;
    font-size: 22px;
  }

  input[type="submit"] {
    width: 100%;
    padding: 15px;
    font-size: 22px;
    color: #fff;
    border: 0;
    border-radius: 5px;
    background: #F09 none repeat scroll 0% 0%;
    font-weight: bold;
  }

}

.search_self {
  background: #22d88a;
}

.profile-title {
  font-size: 22px;
  font-weight: bold;
  float: left;
  padding: 15px;
  margin: 15px;
}

.hr-clear {
  clear: both;
}

#track_frequency {
  margin: 15px;
  float: left;
  width: 200px;
  padding: 15px;
  font-size: 18px;
  color: #fff;
  border: 0;
  border-radius: 5px;
  background: #F09 none repeat scroll 0% 0%;
  font-weight: bold;
}

#new_posts {
  display: none;
  width: 100%;
  margin: 10px auto;
  text-align: center;
}

#load_new_posts {
  width: 100%;
  padding: 15px 70px;
  font-size: 22px;
  color: #fff;
  border: 0;
  border-radius: 5px;
  background: #aaa none repeat scroll 0% 0%;
  font-weight: bold;
  text-decoration: none;
}
