<!DOCTYPE html>
<html ng-app lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title><%= "(!) " if current_user.try(:notify?) %> microwave</title>
<link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<%= stylesheet_link_tag    'animate', media: 'all' %>
<%= stylesheet_link_tag    'application', media: 'all' %>

<%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">microwave</a>
    </div>
    <div id="navbar" class="collapse pull-right navbar-collapse">
      <% if current_user %>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown notification">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.email %><span class="caret"></span></a>
          <div class="notification-dot <%= current_user.notify? ? 'notification-display' : 'no-notifications' %>"></div>
          <ul class="dropdown-menu">
            <% current_user.top_notifications.each do |notification| %>
              <div class="notification-box" data-notif="<%= notification.id %>">
                <li><span id="notified_by"><%= notification.notified_by %></span></li>
                <li><span id="notified_at"><%= time_ago_in_words notification.created_at %> ago</span></li>
                <li><span id="notification_message"><%= notification.message %></span></li>
              </div>
              <li role="separator" class="divider"></li>
            <% end %>
            <li><%= link_to "logout", destroy_user_session_path, method: 'delete' %></li>
          </ul>
          </li>
          <li>
          <form action="/search">
            <input id="search_bar" class="search-invisible"placeholder="Search for users" name="q" type="text" />
            <%= submit_tag "search", id: "search", class: "search-invisible" %>
            <i id="search_glass" class="fa fa-search"></i>
          </form>
            </li>
          <% end %>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>


  <div class="container">

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </div>

  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag controller_name if Rails.application.assets.find_asset("#{controller_name}.js") %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  </body>
  </html>

